.flecha{
    color:yellow;
    --background:var(--background) rgba(0, 0, 0, 0.853);
    margin-bottom: 10px;
}



.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin-bottom: 20px;
  margin-top: 12px;
}

.subir{
  position: relative;
  margin-bottom: 530px;
  text-align: center;
  margin-top: -50px;
}



.subir ion-button,
.tomar ion-button {
  margin-top: 10px; /* Ajusta el valor del margen superior del botón según tus necesidades */
}


img {
    width: 140px; /* Establece el ancho deseado para la imagen */
    height: 140px; /* Establece la altura deseada para la imagen */
    border-radius: 50%; /* Aplica un borde redondeado para que se vea como una foto de perfil */
    object-fit:cover ; /* Ajusta la imagen para que se ajuste al tamaño del contenedor */
  }
 

  #fileInput {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }


  .input-file {
    opacity: 0;
    width: 100%;
    height: 100%;
  }
.button-container {
    display: flex;
    justify-content: flex-start;
  }


.salir{
    color:yellow;
    --background:var(--background) rgba(0, 0, 0, 0.853);
    margin-bottom: 10px;
    margin-left: 210px;
  }