.flecha{
    color:yellow;
    --background:var(--background) rgba(0, 0, 0, 0.853);
    margin-bottom: 10px;
}



.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.container img {
  margin-top: 20px; /* Ajusta la distancia vertical según tus necesidades */
}



img {
    width: 150px; /* Establece el ancho deseado para la imagen */
    height: 150px; /* Establece la altura deseada para la imagen */
    border-radius: 50%; /* Aplica un borde redondeado para que se vea como una foto de perfil */
    object-fit:cover ; /* Ajusta la imagen para que se ajuste al tamaño del contenedor */
  }



  
 
  


  .button-container {
    display: flex;
    justify-content: flex-start;
  }


  .salir{
    color:yellow;
    --background:var(--background) rgba(0, 0, 0, 0.853);
    margin-bottom: 10px;
    margin-left: 150px;
  }