.flecha{
    color:yellow;
    --background:var(--background) rgba(0, 0, 0, 0.853);
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Ajusta el valor según tus necesidades */
  }



img {
    width: 150px; /* Establece el ancho deseado para la imagen */
    height: 150px; /* Establece la altura deseada para la imagen */
    border-radius: 50%; /* Aplica un borde redondeado para que se vea como una foto de perfil */
    object-fit:cover ; /* Ajusta la imagen para que se ajuste al tamaño del contenedor */
  }


  .custom-file-upload {
    display: inline-block;
    padding:  20px;
    background-color: gold;
    border: 1px solid #000000;
    cursor: pointer;
    border-radius: 35%;
    color:#000000
  }
  
  .custom-file-upload input[type="file"] {
    display: none;
  }
  