

<ion-content>

  <ion-button class="flecha" (click)="navToTabs()">
    <ion-icon slot="icon-only" name="arrow-back-circle-outline"></ion-icon>
  </ion-button>

  <div>
    <img src="assets/exercise.jpg"><p>Ejercicio</p>
  </div>


  <div class="elemento">
    <audio controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/ionic-pia-1966757.appspot.com/o/musica%2Firon%20maiden%2FIron%20Maiden%20-%20The%20Trooper%20(Official%20Video)%20(256%20kbps).mp3?alt=media&token=5c645aa0-e2c1-44f4-995a-1798c37dc4cc" type="audio/mp3">
          Tu navegador no soporta audio HTML5.
    </audio>
  </div>

  <div class="elemento">
    <audio controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/ionic-pia-1966757.appspot.com/o/musica%2Fac%20dc%2FAC-DC%20-%20Thunderstruck%20(Official%20Video)%20(256%20kbps).mp3?alt=media&token=76e7eece-86bc-4f1c-8472-4ef2f2e3bffb" type="audio/mp3">
          Tu navegador no soporta audio HTML5.
    </audio>
  </div>

</ion-content>
