
<ion-content>

  <ion-button class="flecha" (click)="navToTabs()">
    <ion-icon slot="icon-only" name="arrow-back-circle-outline"></ion-icon>
  </ion-button>

  <div class="titulo">
    <img src="assets/taylor.png"><p>POP</p>
  </div>

  <div class="elemento">
    <p>Dont blame me - Taylor swift </p>
    <audio controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/ionic-pia-1966757.appspot.com/o/musica%2Ftaylor%20swift%2FDon’t%20Blame%20Me%20(320%20kbps).mp3?alt=media&token=b0e32d4f-7393-42b6-bed7-437e6459eecc" type="audio/mp3">
          Tu navegador no soporta audio HTML5.
    </audio>
  </div>

  <div class="elemento">
    <p>Lavander Haze - Taylor swift </p>
    <audio controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/ionic-pia-1966757.appspot.com/o/musica%2Ftaylor%20swift%2FTaylor%20Swift%20-%20Lavender%20Haze%20(Snakehips%20Remix)%20(320%20kbps).mp3?alt=media&token=995c0b1d-0a75-4375-a434-ee0b5ced428d" type="audio/mp3">
          Tu navegador no soporta audio HTML5.
    </audio>
  </div>

  <div class="elemento">
    <p>7 Rings - Ariana Grande </p>
    <audio controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/ionic-pia-1966757.appspot.com/o/musica%2Fariana%20grande%2FAriana%20Grande%20-%207%20rings%20(Official%20Video)%20(320%20kbps).mp3?alt=media&token=a5bfed15-e123-4ca9-89f3-a317ae0e2154" type="audio/mp3">
          Tu navegador no soporta audio HTML5.
    </audio>
  </div>

  <div class="elemento">
    <p>Side to side - Ariana Grande </p>
    <audio controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/ionic-pia-1966757.appspot.com/o/musica%2Fariana%20grande%2FAriana%20Grande%20ft.%20Nicki%20Minaj%20-%20Side%20To%20Side%20(Official%20Video)%20ft.%20Nicki%20Minaj%20(256%20kbps).mp3?alt=media&token=0c638a10-7fd7-473a-8003-87a3a00e15f2" type="audio/mp3">
          Tu navegador no soporta audio HTML5.
    </audio>
  </div>

  <div class="elemento">
    <p>Circles - Post Malone </p>
    <audio controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/ionic-pia-1966757.appspot.com/o/musica%2Fpost%20malone%2FPost%20Malone%20-%20Circles.mp3?alt=media&token=10851709-1297-4d0b-b241-313b8f1cc6e6" type="audio/mp3">
          Tu navegador no soporta audio HTML5.
    </audio>
  </div>


</ion-content>