<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Artistas</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-button class="flecha" (click)="navToSeleccionNombre()">
    <ion-icon slot="icon-only" name="arrow-back-circle-outline"></ion-icon>
  </ion-button>

  <div class="selecciona">
    <p> Selecciona 3 Artistas</p>
  </div>

<div class="grid-container">

  <div class="grid-item">
    <img src="aglogo.jpeg" alt="Imagen 1" class="round-image">
    <p>Ariana Grande</p>
  </div>

  <div class="grid-item">
    <img src="bblogo.jpg" alt="Imagen 2" class="round-image">
    <p>Bad Bunny</p>
  </div>

  <div class="grid-item">
    <img src="acdclogo.png" alt="Imagen 3" class="round-image">
    <p>AC/DC</p>
  </div>

  <div class="grid-item">
    <img src="enjambrelogo.jpg" alt="Imagen 4" class="round-image">
    <p>Enjambre</p>
  </div>
 
</div>



  <div class ="siguiente" (click)="navToInicioTab()">
    <ion-button  color = "warning" shape="round" >Siguiente</ion-button>
  </div>
 
</ion-content>