.flecha{
    color:yellow;
    --background:var(--background) rgba(0, 0, 0, 0.853);
}

.selecciona{
    font-family: Cabin;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

}

.siguiente{
    margin-top: 700px;
    justify-content: center;
    display: flex;
}