.flecha{
    color:yellow;
    --background:var(--background) rgba(0, 0, 0, 0.853);
}

.selecciona{
    font-family: Cabin;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

}

.siguiente{
    margin-top: 700px;
    justify-content: center;
    display: flex;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .grid-item {
    text-align: center;
  }
  
  .round-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  
  .grid-item p {
    margin-top: 10px;
  }
  