
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">terminos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button class="flecha" (click)="navToBack()">
    <ion-icon slot="icon-only" name="arrow-back-circle-outline"></ion-icon>
  </ion-button>

<p class="titulo">
    TÉRMINOS Y CONDICIONES DE USO
</p>

<p class = textin>
    Bienvenido a nuestro sitio web. Estos términos y condiciones de uso rigen el uso de este sitio web. Al acceder a este sitio web, usted acepta estos términos y condiciones en su totalidad. Si no está de acuerdo con estos términos y condiciones o cualquier parte de estos términos y condiciones, no debe usar este sitio web.
    
    Licencia para usar el sitio web
    A menos que se indique lo contrario, nosotros o nuestros licenciantes somos dueños de los derechos de propiedad intelectual en el sitio web y el material en el sitio web. Estos derechos están reservados.
    Cabe recalcar que no se tiene ningun derecho de autor, cualquier reclamacion sera directo con la universidad ya que este es un proyecto escolar
    Puede ver, descargar para fines de almacenamiento en caché, imprimir páginas de nuestro sitio web para su uso personal sujeto a las restricciones establecidas en estos términos y condiciones.
    
    No debe:
    
    
    republicar material de este sitio web (incluyendo republicación en otro sitio web);

    vender, alquilar o sub-licenciar material del sitio web;

    reproducir, duplicar, copiar o explotar material en nuestro sitio web con fines comerciales;

    editar o modificar cualquier material en el sitio web; 

    o redistribuir el material de este sitio web, excepto para contenido específicamente y expresamente disponible para la redistribución.

    Aceptación de responsabilidad

    Nos esforzamos por garantizar que la información en este sitio web sea precisa y esté actualizada. No obstante, no garantizamos la integridad o precisión de la información y materiales en el sitio web y no aceptamos ninguna responsabilidad por cualquier pérdida o daño directo o indirecto que pueda surgir del uso de esta información.
    
    Uso indebido del sitio web

    No debe usar este sitio web de ninguna manera que cause o pueda causar daño al sitio web o a su disponibilidad o accesibilidad; o de cualquier manera que sea ilegal, fraudulenta o perjudicial, o en relación con cualquier actividad ilegal, fraudulenta o perjudicial.
    
    Usted acepta indemnizarnos y mantenernos indemnizados contra cualquier pérdida, daño o gasto, incluidos los costos legales razonables, que surjan directa o indirectamente de cualquier incumplimiento por su parte de estos términos y condiciones, o cualquier responsabilidad que surja del uso de nuestro sitio web por su parte o cualquier otra persona que acceda al sitio web utilizando su cuenta de usuario.
    
    Modificaciones

    Podemos revisar estos términos y condiciones de vez en cuando. La versión revisada se aplicará a partir de la fecha de su publicación en nuestro sitio web.
    
    Por favor, revise estos términos y condiciones regularmente para asegurarse de que esté familiarizado con la versión actual.
    
    Al usar este sitio web, usted acepta estar sujeto a la versión actual de estos términos y condiciones.
    
    Si tiene alguna pregunta o inquietud acerca de estos términos y condiciones, póngase en contacto con nosotros a través de los canales apropiados que se indican en nuestro sitio web.
</p>

</ion-content>
