<ion-content>
<ion-header>
  <ion-toolbar>
    <ion-searchbar show-cancel-button="focus" placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<div class="reciente">
  <p>Recientemente</p>
</div>


<div class="generos">
  <p>Generos</p>
</div>

<div>
<ion-grid>
  <ion-row>
    <ion-col size="6">
      <img src="assets/pop.jpg" alt="Imagen 1" (click)="navToPop()" />
    </ion-col>
    <ion-col size="6">
      <img src="assets/indie.png" alt="Imagen 2" (click)="navToIndie()"/>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <img src="assets/reggaeton.png" alt="Imagen 3" />
    </ion-col>
    <ion-col size="6">
      <img src="assets/rock.png" alt="Imagen 4" (click)="navToRock()" />
    </ion-col>
  </ion-row>
</ion-grid>
</div>

</ion-content>