.generos{
    margin-top: 30vh;
    display: flex;
}
.generos p {
    width: 100px;
    border-radius: nullpx;
    font-family: Cabin;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}


.reciente {
    margin-top: 2vh;
    display: flex;
}

.reciente p {
    width: 150px;
    border-radius: nullpx;
    font-family: Cabin;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    
}
