

<ion-content>

  <ion-button class="flecha" (click)="navToInicioTab()">
    <ion-icon slot="icon-only" name="arrow-back-circle-outline"></ion-icon>
  </ion-button>

<div class="container">

  <div class="elemento">
    <audio controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/ionic-pia-1966757.appspot.com/o/musica%2Fradiohead%2FJigsaw%20Falling%20Into%20Place.mp3?alt=media&token=af139d73-0440-4362-adfa-db6ce3506135" type="audio/mp3">
          Tu navegador no soporta audio HTML5.
    </audio>
  </div>
</div>

<ion-content>
  <ion-button color ="warning" (click)="discoverDevices()">Buscar dispositivos Bluetooth</ion-button>
    <ion-item   *ngFor="let device of devices" (click)="connectToDevice(device)">
      {{ device.name }}
    </ion-item>
    
</ion-content>

  
</ion-content>