<ion-content>

  <ion-button class="flecha" (click)="navToTabs()">
    <ion-icon slot="icon-only" name="arrow-back-circle-outline"></ion-icon>
  </ion-button>

  <div class="titulo">
    <img src="assets/RHlogo.jpeg"><p>Indie</p>
  </div>

  <div class="elemento">
    <p>Mania cardiaca - Enjambre</p>
    <audio controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/ionic-pia-1966757.appspot.com/o/musica%2Fenjambre%2FManía%20Cardiaca%20(320%20kbps).mp3?alt=media&token=65418b41-1149-4dea-bbbc-a52856c7ac98" type="audio/mp3">
          Tu navegador no soporta audio HTML5.
    </audio>
  </div>

  <div class="elemento">
    <p>Vida en el espejo - Enjambre</p>
    <audio controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/ionic-pia-1966757.appspot.com/o/musica%2Fenjambre%2FVida%20En%20El%20Espejo%20(320%20kbps).mp3?alt=media&token=133ec87a-3b81-4c3d-a2e6-04e48bd81e6b" type="audio/mp3">
          Tu navegador no soporta audio HTML5.
    </audio>
  </div>

  <div class="elemento">
    <p>Vamonos de viaje - Bandalos chinos</p>
    <audio controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/ionic-pia-1966757.appspot.com/o/musica%2Fbandalos%20chinos%2FBandalos%20Chinos%20-%20Vámonos%20De%20Viaje%20(320%20kbps).mp3?alt=media&token=0f803300-27dc-4496-b11d-8b99a07ebf8f" type="audio/mp3">
          Tu navegador no soporta audio HTML5.
    </audio>
  </div>

  <div class="elemento">
    <p>Vamonos de viaje - Bandalos chinos</p>
    <audio controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/ionic-pia-1966757.appspot.com/o/musica%2Fbandalos%20chinos%2FBandalos%20Chinos%20-%20Vámonos%20De%20Viaje%20(320%20kbps).mp3?alt=media&token=0f803300-27dc-4496-b11d-8b99a07ebf8f" type="audio/mp3">
          Tu navegador no soporta audio HTML5.
    </audio>
  </div>

  
  <div class="elemento">
    <p>You - Radiohead</p>
    <audio controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/ionic-pia-1966757.appspot.com/o/musica%2Fradiohead%2FYou%20(320%20kbps).mp3?alt=media&token=230c38ac-3bef-4262-8328-46ca1989a5c9" type="audio/mp3">
          Tu navegador no soporta audio HTML5.
    </audio>
  </div>


</ion-content>