<ion-content>

  <ion-button class="flecha" (click)="navToTabs()">
    <ion-icon slot="icon-only" name="arrow-back-circle-outline"></ion-icon>
  </ion-button>

  <div class="titulo">
    <img src="assets/IM.jpg"><p>Rock</p>
  </div>

  <div class="elemento">
    <p>Thunderstruck - AC/DC</p>
    <audio controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/ionic-pia-1966757.appspot.com/o/musica%2Fac%20dc%2FAC-DC%20-%20Thunderstruck%20(Official%20Video)%20(256%20kbps).mp3?alt=media&token=76e7eece-86bc-4f1c-8472-4ef2f2e3bffb" type="audio/mp3">
          Tu navegador no soporta audio HTML5.
    </audio>
  </div>

  <div class="elemento">
    <p>21st century schizoid man - King Crimson</p>
    <audio controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/ionic-pia-1966757.appspot.com/o/musica%2Fking%20crimson%2FKing%20Crimson%20-%2021st%20Century%20Schizoid%20Man%20(Including%20_Mirrors_)%20(256%20kbps).mp3?alt=media&token=1a986445-ecdf-4868-a619-089c4ca4c5da" type="audio/mp3">
          Tu navegador no soporta audio HTML5.
    </audio>
  </div>

  <div class="elemento">
    <p>Court of the crimson king - King Crimson</p>
    <audio controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/ionic-pia-1966757.appspot.com/o/musica%2Fking%20crimson%2FKing%20Crimson%20-%20The%20Court%20Of%20The%20Crimson%20King%20(256%20kbps).mp3?alt=media&token=0c8bc442-91e5-4fc7-882e-a84de834adc1" type="audio/mp3">
          Tu navegador no soporta audio HTML5.
    </audio>
  </div>

  <div class="elemento">
    <p>Enter sandman - Metallica</p>
    <audio controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/ionic-pia-1966757.appspot.com/o/musica%2Fmetallica%2FMetallica_%20Enter%20Sandman%20(Official%20Music%20Video)%20(320%20kbps).mp3?alt=media&token=30f5f83d-ba6e-4918-81ca-d4a438e15dcc" type="audio/mp3">
          Tu navegador no soporta audio HTML5.
    </audio>
  </div>

  <div class="elemento">
    <p>Nothing else matters - Metallica</p>
    <audio controls>
      <source src="  https://firebasestorage.googleapis.com/v0/b/ionic-pia-1966757.appspot.com/o/musica%2Fmetallica%2FMetallica_%20Nothing%20Else%20Matters%20(Official%20Music%20Video)%20(192%20kbps).mp3?alt=media&token=733d230a-1b90-4846-881a-f3864dd2d853" type="audio/mp3">
          Tu navegador no soporta audio HTML5.
    </audio>
  </div>
 


</ion-content>
