<ion-content>

  <ion-button class="flecha" (click)="navToTabs()">
    <ion-icon slot="icon-only" name="arrow-back-circle-outline"></ion-icon>
  </ion-button>

  <div>
    <img src="assets/party.jpeg"><p>Fiesta</p>
  </div>

  <div class="elemento">
    <audio controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/ionic-pia-1966757.appspot.com/o/musica%2Fbad%20bunny%2FBad%20Bunny%20-%20Yonaguni%20(Video%20Oficial)%20(320%20kbps).mp3?alt=media&token=208028e5-c6f8-4571-9abb-bd8c24cd4e09" type="audio/mp3">
          Tu navegador no soporta audio HTML5.
    </audio>
  </div>

  <div class="elemento">
    <audio controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/ionic-pia-1966757.appspot.com/o/musica%2Fbad%20bunny%2FBad%20Bunny%20ft.%20Bomba%20Estéreo%20-%20Ojitos%20Lindos%20(Video%20Oficial)%20_%20Un%20Verano%20Sin%20Ti%20(256%20kbps).mp3?alt=media&token=c7fdf264-3095-4d4b-99e0-4109ddf82ac9" type="audio/mp3">
          Tu navegador no soporta audio HTML5.
    </audio>
  </div>


</ion-content>