<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <div class="imagen">
    <img src="assets/logoPIA.png">
  </div>

  <div id="container-texto">
    <strong>Millones de canciones en un solo lugar</strong>
  </div>

  <div id="container-boton" >
    <ion-button shape="round" color = "warning"(click)="navToRegistro()">Registrate gratis</ion-button>
  </div>

  <div id = "iniciar"> 
    <ion-button fill="clear" color = "warning" (click)="navToInicio()">¿Ya tienes una cuenta? Inicia sesion </ion-button>
  </div>
</ion-content>
