.imagen {
  display: flex;
  justify-content: center;
  height: 40vh;
}

#container-texto {
  font-family: Cabin;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  height: 84px;
  left: 43px;
  top: 499px;
}

#container-boton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

#iniciar{
  display: flex;
  justify-content: center;
}