<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio Sesion</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-button class="flecha" (click)="navToHome()">
    <ion-icon slot="icon-only" name="arrow-back-circle-outline" ></ion-icon>
  </ion-button>

  <div class="sesion">
    <p> Inicia sesion con tu correo</p>
    <ion-input  fill="outline"></ion-input>
  </div>

  <div class="sesion-contra">
    <p> Inicia sesion con tu contraseña</p>
    <ion-input  fill="outline"></ion-input>
  </div>

  <div class="siguiente">
    <ion-button shape="round" color = "warning">siguiente</ion-button>
  </div>

</ion-content>
