

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio-tab</ion-title>
    </ion-toolbar>
  </ion-header>


<div class="texto">
  <p>Escuchados recientemente</p>
</div>

<div class="scroll-container">
  <div class="scroll-content">

    <div class="elemento">
      <img src="assets/lizo.png" alt="Imagen 8" class="round-image">
      <p>Lizzo</p>
    </div>

    <div class="elemento">
      <img src="assets/lizo.png" alt="Imagen 8" class="round-image">
      <p>Lizzo</p>
    </div>

    <div class="elemento">
      <img src="assets/lizo.png" alt="Imagen 8" class="round-image">
      <p>Lizzo</p>
    </div>

    <div class="elemento">
      <img src="assets/lizo.png" alt="Imagen 8" class="round-image">
      <p>Lizzo</p>
    </div>

    <div class="elemento">
      <img src="assets/lizo.png" alt="Imagen 8" class="round-image">
      <p>Lizzo</p>
    </div>

    <div class="elemento">
      <img src="assets/lizo.png" alt="Imagen 8" class="round-image">
      <p>Lizzo</p>
    </div>

    <div class="elemento">
      <img src="assets/lizo.png" alt="Imagen 8" class="round-image">
      <p>Lizzo</p>
    </div>

    <div class="elemento">
      <img src="assets/lizo.png" alt="Imagen 8" class="round-image">
      <p>Lizzo</p>
    </div>

    <div class="elemento">
      <img src="assets/lizo.png" alt="Imagen 8" class="round-image">
      <p>Lizzo</p>
    </div>

    <div class="elemento">
      <img src="assets/lizo.png" alt="Imagen 8" class="round-image">
      <p>Lizzo</p>
    </div>

    <div class="elemento">
      <img src="assets/lizo.png" alt="Imagen 8" class="round-image">
      <p>Lizzo</p>
    </div>

    <div class="elemento">
      <img src="assets/lizo.png" alt="Imagen 8" class="round-image">
      <p>Lizzo</p>
    </div>

    <div class="elemento">
      <img src="assets/lizo.png" alt="Imagen 8" class="round-image">
      <p>Lizzo</p>
    </div>

  </div>
</div>

<div>
  <p>Mis Playlists</p>
</div>


</ion-content>