

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio-tab</ion-title>
    </ion-toolbar>
  </ion-header>


<div class="texto">
  <p>Escuchados recientemente</p>
</div>

<div class="scroll-container">
  <div class="scroll-content">

    <div class="elemento">
      <img src="assets/RHlogo.jpeg" alt="Imagen 1" class="round-image"(click)="navToReproductor()">
      <p>Radiohead</p>
    </div>

    <div class="elemento">
      <img src="assets/gdlogo.jpg" alt="Imagen 2" class="round-image"(click)="navToReproductor()">
      <p>Green Day</p>
    </div>

    <div class="elemento">
      <img src="assets/KClogo.jpg" alt="Imagen 3" class="round-image"(click)="navToReproductor()">
      <p>King Crimson</p>
    </div>

    <div class="elemento">
      <img src="assets/Nvlogo.jpeg" alt="Imagen 4" class="round-image"(click)="navToReproductor()">
      <p>Nirvana</p>
    </div>

    <div class="elemento">
      <img src="assets/RHCPlogo.jpg" alt="Imagen 5" class="round-image"(click)="navToReproductor()">
      <p>Red Hot Chilli</p>
    </div>

    <div class="elemento">
      <img src="assets/strlogo.jpeg" alt="Imagen 6" class="round-image" (click)="navToReproductor()">
      <p>The Strokes</p>
    </div>

    <div class="elemento">
      <img src="assets/TIlogo.jpeg" alt="Imagen 7" class="round-image" (click)="navToReproductor()">
      <p>Tame Impala</p>
    </div>

    <div class="elemento">
      <img src="assets/enjambrelogo.jpg" alt="Imagen 8" class="round-image" (click)="navToReproductor()">
      <p>Enjambre</p>
    </div>

  </div>
</div>

<div class="texto">
  <p>Mis Playlists</p>
</div>

<div class="scroll-container">
  <div class="scroll-content">

    <div class="elemento">
      <img src="assets/study.png" alt="Imagen 1" class="square-image"(click)="navToPlaylistEst()">
      <p>Estudiar</p>
    </div>

    <div class="elemento" >
      <img src="assets/exercise.jpg" alt="Imagen 2" class="square-image" (click)="navToPlaylistEj()">
      <p>Ejercicio</p>
    </div>

    <div class="elemento">
      <img src="assets/sleep.jpg" alt="Imagen 3" class="square-image" (click)="navToPlaylistDor()">
      <p>Dormir</p>
    </div>

    <div class="elemento">
      <img src="assets/party.jpeg" alt="Imagen 4" class="square-image" (click)="navToPlaylistFiesta()">
      <p>Fiesta</p>
    </div>

  </div>
</div>

</ion-content>