.correo{
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
}
.correo p {
    height: 27px;
    width: 190px;
    left: -5593px;
    top: -3445px;
    border-radius: nullpx;
    font-family: Cabin;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}
 


.siguiente{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.flecha{
    color:yellow;
    --background:var(--background) rgba(0, 0, 0, 0.853);
}