
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registro</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-button class="flecha" (click)="navToHome()">
    <ion-icon slot="icon-only" name="arrow-back-circle-outline"></ion-icon>
  </ion-button>

  <form [formGroup]="registroForm" (ngSubmit)="register()">

    <ion-item class = "correo">
      <ion-label position="floating">¿Cual es tu correo?</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item class="contra"> 
      <ion-label position="floating">Crea tu contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item >
    
    <div class ="registrarse">
      <ion-button  type="submit" color = "warning" shape="round" [disabled]="!registroForm.valid">Registrarse</ion-button>
    </div>

  </form>
  
</ion-content>
